<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div id='map' class="map-container"></div>

<div id="sidebar" class="leaflet-sidebar leaflet-control leaflet-sidebar-left leaflet-touch">
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist">
            <li><a id="about_a" href="#about" role="tab"><i data-toggle="tooltip" class="fa fa-info"
                        aria-hidden="true"></i></a></li>
            <li><a id="login_a" href="#login" role="tab"><i class="fa fa-user"></i></a></li>
            <li><a id="fields_a" href="#fields" role="tab"><i class="fa fa-crop" aria-hidden="true"></i></a></li>
            <li><a id="field_images_a" href="#field_images" role="tab"><i class="fa fa-picture-o"
                        aria-hidden="true"></i></a></li>
            <li><a id="create_field_a" href="#field_create" role="tab"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="leaflet-sidebar-content">

        <div class="leaflet-sidebar-pane active sidebar-pane-size" id="about">
            <div class="sidebar-about-text sidebar-text-align">
                <img src="assets/193_Leaf_Main_Logo.png" width="128px">
                <div class="sidebar-text-div">
                    <br><span class="span-text"><b>Use case for using Leaf
                            API for Satellite images!</b></span><br>
                </div>
                <span class="span-interns">with 🧡 by Leaf interns</span>
                <br><br>
            </div>
        </div>

        <div class="leaflet-sidebar-pane" id="login">
            <div id="login_all">
                <form *ngIf="!isLogged" [formGroup]="loginForm" #formDir="ngForm" onSubmit="return false">
                    <div id="login_form" class="sidebar-login-text div-information">
                        <div class="div-information-2">
                            <div id="create_token"><span class="span-text"><b>Create your
                                        leaf token</b></span></div>
                            <div id="login_inputs"><input required class="form-control form-control-sm input-style"
                                    placeholder="Your leaf e-mail" formControlName="email" type="text">
                                <input required class="form-control form-control-sm input-style"
                                    placeholder="Your leaf password" formControlName="password" type="password">
                            </div>
                            <div id="login_button"><button type="" (click)="doLogin()"
                                    class="btn btn-sm btn-dark button-margin">Create</button></div>

                            <br>
                        </div>
                    </div>
                </form>
                <div id="login_response" class="login-response"> {{ loginMessage }}
                </div>
                <div *ngIf="isLoading" class="loadings" id="login_loading">
                    <img src="assets/loading.gif">
                </div>
            </div>
        </div>

        <div class="leaflet-sidebar-pane" id="fields">
            <div *ngIf="isLogged" id="pre_fields">
                <form id="pre_field_form" onSubmit="return false">
                    <div id="prefield_form" class="sidebar-login-text div-information">
                        <div class="div-information-2">
                            <div id="pre_field_div"><span class="span-text"><b>Here is the
                                        list of your created fields:</b></span></div>
                            <div id="existing_fields">
                                <div *ngFor="let field of fields" class="field-show">
                                    <a (click)="loadImages(field.externalId)" style="cursor: pointer;">
                                        <p class="p-field-id">{{ field.externalId }}</p>
                                    </a>
                                </div>
                            </div>
                            <div id="create_field_button"><button type="" onClick="createField();"
                                    class="btn btn-sm btn-dark button-margin">Create a new
                                    field</button></div>
                            <div id="update_fields_button"><button type="" onClick="loadFields();"
                                    class="btn btn-sm btn-dark button-margin">Update your
                                    fields</button></div>
                            <br>
                        </div>
                    </div>
                </form>
                <div *ngIf="isLoading" class="loadings" id="login_loading">
                    <img src="assets/loading.gif">
                </div>
            </div>
        </div>

        <div class="leaflet-sidebar-pane" id="field_create">
            <div *ngIf="isLogged" id="create_field">
                <div id="field_create_form" class="sidebar-login-text div-information">
                    <div class="div-information-2">
                        <div id="create_field_div"><span class="span-text"><b>Fill the
                                    information about the field:</b></span></div>

                        <div id="field_inputs">
                            <input required class="form-control form-control-sm input-style" placeholder="Field ID"
                                name="create_id" type="text" id="create_id">
                            <input required class="form-control form-control-sm input-style"
                                placeholder="How much days before you want to see?" name="days_before" type="number"
                                id="days_before">
                            <select id="boundery_type" name="boundery_type"
                                class="form-select form-select-sm input-style" aria-label="Boundery type">
                                <option value="MultiPolygon">Multi Polygon</option>
                            </select>
                            <label class="field-boundery-input" for="field_boundery">Your field
                                geojson. You can use geojson.io to create one</label>
                            <textarea class="form-control form-control-sm" id="field_boundery" name="field_boundery"
                                rows="4"></textarea>
                            <select id="provider" name="provider" class="form-select form-select-sm input-style"
                                aria-label="Sattelite image provider">
                                <option value="Sentinel">Sentinel</option>
                            </select>
                        </div>

                        <div id="create_field_button"><button type="" onClick="sendField();"
                                class="btn btn-sm btn-dark button-margin">Create field!</button></div>

                        <br>
                        <div id="create_field_response"></div>
                    </div>
                </div>
                <div class="loadings" id="field_create_loading">
                    <img src="assets/loading.gif">
                </div>
            </div>
        </div>

        <div class="leaflet-sidebar-pane" id="field_images">
            <div *ngIf="isLogged" id="fields_images">
                <div id="field_form" class="sidebar-login-text div-information">
                    <div class="div-information-2">
                        <form [formGroup]="searchImagesForm" #formDir="ngForm" onSubmit="return false">
                            <div id="pre_field_div"><span class="span-text"><b>Select the
                                        start and end date:</b></span></div>
                            <div id="field_inputs">
                                <input required class="form-control form-control-sm input-style" placeholder="Field ID"
                                    type="text" formControlName="fieldId">
                                <input required class="form-control form-control-sm input-style"
                                    placeholder="Start Date" type="date" formControlName="startDate">
                                <input required class="form-control form-control-sm input-style" placeholder="End Date"
                                    type="date" formControlName="endDate">
                            </div>

                            <div id="search_field_images_button"><button type="" (click)="searchField()"
                                    class="btn btn-sm btn-dark button-margin">Search
                                    images!</button></div>
                            <div *ngIf="isLoading" class="loadings" id="login_loading">
                                <img src="assets/loading.gif">
                            </div>
                        </form>
                        <br>
                        <div id="load_response"></div>
                        <div class="fields-text" id="selected_field_images">
                            <ul id="ul-list" class="ul-date" class="sessions">
                                <li *ngFor="let image of images" class="li-date">
                                    <div class="time"> {{ image.date }}
                                        <div *ngFor="let pics of image.images" class="row">
                                            <div class="col col-1" style="margin-right: 20px">
                                                <img height="50px" width="50px" src="{{ pics.url }}">
                                            </div>
                                            <div class="col col-8"> <a (click)="showImage(pics.url)"
                                                    style="cursor: pointer; cursor: hand;">
                                                    <p class="p-date" style="margin-left: 15px">{{pics.date}}</p>
                                                </a>
                                                <p class="p-date" style="margin-left: 15px">{{pics.imgtype}} -
                                                    {{image.provider}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>`
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>